body {
    padding: 5%;
}

img {
    width: 100%;
}

h1,
h2 {
    color: #4ecdc4;
}

a,
a:visited {
    color: #000000;
}


/* .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
} */

header p {
    margin-top: -15px;
}

header h2 {
    font-size: 1.2em;
    margin-top: -5px;
}

.education h2 {
    font-size: 1.5em;
    font-style: normal;
}

.education p,
.education ul,
.workexperience ul {
    margin-top: -10px;
}

.education h3,
.workexperience h3 {
    font-size: 1em;
}

.skills p,
.interests p,
.workexperience p {
    margin-top: -10px;
}

@media (min-width: 750px) {
    img {
        margin: auto;
        width: 25%;
        display: block;
				border-radius: 50px;
    }

		.nameadd {
			float: left;
			margin-left: 35px;
			text-align: center;
		}

		header h1 {
			margin-top: -175px;
		}

    .contactinfo {
			float: right;
			margin-right: 35px;
			margin-top: -135px;
			text-align: center;
		}

}
