* {
    padding: 0;
    margin: 0;
}

body {
    background-color: green;
}

#container {
    padding: 5%;
    margin: auto;
    max-width: 950px;
    background-color: white;
}


img {
    width: 30%;
    border-radius: 35px;
}

h1,
h2 {
    color: #4ecdc4;
}

a,
a:visited {
    color: #000000;
}


/* .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
} */

header p {
    margin-top: -15px;
}

header h2 {
    font-size: 1.2em;
    margin-top: -5px;
}

.education h2 {
    font-size: 1.5em;
    font-style: normal;
}

.education p,
.workexperience p,
.interests p {
    margin-top: -15px;
}

.education ul,
.workexperience ul {
    margin-top: 0.5px;
}

.education h3,
.workexperience h3 {
    font-size: 1em;
}

.skillbar {
    position: relative;
    margin: 15px 0;
    width: 100%;
    background: #eeeeee;
    height: 35px;
    border-radius: 3px;
    width: 100%;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    background: #000000;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}

.skillbar-bar {
    height: 35px;
    width: 0;
    background: #4ecdc4;
    border-radius: 3px;
    display: inline-block;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 750px) {

    img {
        width: 20%;
        margin: auto;
        display: block;
        border-radius: 50px;
    }

    .nameadd {
        float: left;
        text-align: center;
        font-size: 1.5em;
    }

    header h1 {
        margin-top: -145px;
        font-size: 2em;
    }

    .contactinfo {
        float: right;
        margin-top: -125px;
        text-align: center;
        font-size: 1.5em;
    }

}

@media (min-width: 950px) {
    .nameadd {
        float: left;
        text-align: center;
        margin-left: 85px;
    }

    header h1 {
        margin-top: -175px;
        font-size: 1.8em;
    }

    .contactinfo {
        float: right;
        margin-top: -145px;
        text-align: center;
        margin-right: 100px;
    }
}
