body {
    padding: 5%;
}

h2 {
    color: #4ecdc4;
}

h4 {
    margin-top: -2%;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header h2 {
    font-size: 1.2em;
    margin-top: -15px;
}

.education h2 {
    font-size: 1.5em;
    font-style: normal;
}

.education h3 {
    font-size: 1em;
}
